# file will be installed as vendor/etc/init/hw/init.{ro.hardware}.rc

# Chipset vendor
import /vendor/etc/init/hw/init.qcom.rc

# For Kinibi(t-base) start
import /vendor/etc/init/init.kinibi.rc
# For Kinibi(t-base) end

# to override init.qcom.rc and init.target.rc
import /vendor/etc/init/hw/init.lge.usb.rc
import /vendor/etc/init/hw/init.lge.usb.configfs.rc
import /vendor/etc/init/hw/init.lge.power.rc
import /vendor/etc/init/hw/init.lge.audio.rc
import /vendor/etc/init/hw/init.lge.sensors.rc
import /vendor/etc/init/hw/init.lge.fingerprints.rc
import /vendor/etc/init/hw/init.lge.display.rc

# import chipset common rc file
import /vendor/etc/init/hw/init.lito.rc

# Begin Immersion Changes
service immvibed /vendor/bin/immvibed -p 99 -u 1000
    class late_start
    user root
    group root
    ioprio rt 4

# IMEI_Protection start
# Add ipd service
service vendor.ipd /vendor/bin/ipd
    class main
    user system
    group radio system net_raw
# IMEI_Protection end

on early-fs
    ffu_update

on post-fs
# Support tuxera exfat filesystem
    insmod /vendor/lib/modules/texfat.ko

    chown system system /mnt/vendor/persist-lg
    chmod 0771 /mnt/vendor/persist-lg
    restorecon_recursive /mnt/vendor/persist-lg

    chown system system /mnt/vendor/sns
    chmod 0755 /mnt/vendor/sns
    restorecon_recursive /mnt/vendor/sns

    chown root system /mnt/vendor/power
    chmod 0771 /mnt/vendor/power
    restorecon_recursive /mnt/vendor/power

    chown system system /mnt/vendor/absolute
    chmod 0750 /mnt/vendor/absolute
    restorecon_recursive /mnt/vendor/absolute

on post-fs-data
# NFC: create data/nfc for nv storage
    mkdir /data/vendor/nfc 0770 nfc nfc
# display: LTM license
    chown system system /mnt/vendor/persist/data/pfm/licenses/LGE_QC_LTM_7250_2020_09_01.pfm
    chmod 664 /mnt/vendor/persist/data/pfm/licenses/LGE_QC_LTM_7250_2020_09_01.pfm

on boot
    chown system shell /sys/devices/platform/soc/soc:gpio_keys/swivel_event_injector
    chmod 666 /sys/devices/platform/soc/soc:gpio_keys/swivel_event_injector
    chown system shell /sys/devices/platform/soc/soc:gpio_keys/swivel_event_refresh
    chmod 666 /sys/devices/platform/soc/soc:gpio_keys/swivel_event_refresh

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:gpio_keys/swivel_event_refresh 1
